*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(8, 0, 121) , rgb(0, 45, 194)) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 150px;
    background-color: aliceblue;
    box-shadow: 0px 0px 20px 10px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .heure,.chrono .start{
    font-size: 3rem;
    font-weight: bold;
}
.container .date{
    font-size: 1.5rem;
}
.chrono{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chrono button{
    width: 80px;
    background-color: #00009c;
    color: aliceblue;
    border: 0;
    outline: 0;
    border-radius: 5px;
    margin-top: 10px;
    padding: 8px 0;
    cursor: pointer;
}
.chrono button:nth-child(2){
    background: #777;
    margin: 0 10px;
}
.chrono button:last-child{
    background-color: black;
}